################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/syosetuDownloader/bin
/src/syosetuDownloader/obj/x86
/src/.vs
